/* resets */

figure {
  margin: 0;
}

/* document wide */
body {
    font-family: Georgia, serif;
    font-size: 15px;
}


.header {
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #111111;
  top: 5px;
  left: 15px;
  font-size: 1.5em;
}

#placeName {
    font-size: 3.2em;
}

h1, h2, h3, h4 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #111111;
    margin: 0;
    padding: 0;
}

.header:hover a {
    opacity: 0.5;
}


.header a {
    text-decoration: none;
    color: #111111;
}

.cardDisplay {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.speciesCard {
    width: 400px;
    margin: 4px;
    background: #F3E5F5;
    padding: 4px;
}
.speciesCard img {
    max-width:100%;
    height: auto;
}

.speciesCard figcaption{
  text-align: right;
  font-style: italic;
  font-size: 0.6em;
  opacity: 0.4;
}

.speciesCard figcaption a {
  color: #111111;
}

#common-name {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #111111;
    font-size: 2em;
    margin: 0;
}

#scientific-name {
    font-style: italic;
}

#remove-control {
    text-align: right;
}

.card-control {
  opacity: 0.6;
  font-size: 0.7em;
}

.card-control a {
  text-decoration: none;
}