.header {
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #111111;
  top: 5px;
  left: 15px;
  font-size: 1.5em;
}

#placeName {
    font-size: 2.6em;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

.header:hover a {
    opacity: 0.5;
}


.header a {
    text-decoration: none;
    color: #111111;
}




.cardDisplay {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.speciesCard {
    width: 250px;
    margin: 4px;
    background: #F3E5F5;
    padding: 4px;
}
.speciesCard img {
    max-width:100%;
    height: auto;
}

