{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<h1>Add Species to the Field Guide for {{place.name}}</h1>

<form action="{{url_for('addSpeciesToPlace', place_id = place.id) }}" method="POST">

    <p>Species:</p>
    <select name='species'>
        {% for s in species %}
        <option>
            {{s.common_name}}
        </option>
        {% endfor %}
    </select>
    <p>
        Species not yet in the database? <a href="{{url_for('addSpecies') }}">Add a new species here.</a>
    </p>

    <p>Where in {{place.name}} is this species usually found? How common is it? Any tips on how to find the species?</p>
    <textarea name='tip'></textarea>

    </br>
    </br>
    <input type='submit' value='Add Species'>

</form>

{% endblock content %}