{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<h1>Add Species</h1>

<form action="{{url_for('addSpecies') }}" method='POST'>

    <p>Species Common Name:</p>
    <input type='text' size='30' name='commonName'>

    <p>Species Scientific Name:</p>
    <input type='text' size='30' name='scientificName'>

    <p>Type:</p>
    <select name='category'>
        <option>mammal</option>
        <option>bird</option>
        <option>insect</option>
        <option>reptile</option>
        <option>fish</option>
        <option>butterfly</option>
        <option>mushroom</option>
        <option>flower</option>
        <option>tree</option>
    </select>


    <p>Photo URL:</p>
    <input type='url' size='60' name='picture_url'>

    </br>
    </br>
    <input type='submit' value='Add Species'>

</form>

{% endblock content %}