{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="mainContent">

    <h2 id="placeName">Edit {{occurrence.species.common_name}} at {{occurrence.place.name}}</h2>
    <form action="{{url_for('editSpeciesOccurrence', place_id=occurrence.place_id, species_id=occurrence.species_id)}}" method="POST">


        <p>
            Edit tip:
        </p>
        <textarea name='tip'>{{occurrence.tip}}</textarea>

        </br>
        </br>
        <input type='submit' value='Save'>
        <a href="{{url_for('placeFieldGuide', place_id=occurrence.place_id)}}">Cancel</a>

    </form>


</div>

{% endblock content %}