<div class="header">

    <div class="header-title">
        <h1><a href="{{url_for('homePage') }}">Local Field Guide</a></h1>
    </div>

    <div class="login-status">
        {% if 'username' not in login_session %}
            <p>
                <a href="{{ url_for('showLogin') }}">
                    Sign in
                </a>
            </p>
        {% else %}
            <div>
                <p>
                    {{ login_session['given_name'] }}
                </p>
            </div>
            {% if login_session['picture']%}
                <div>
                    <img id="header-picture" src="{{login_session['picture']}}">
                </div>
            {% endif %}
            <div>
                <p>
                    | 
                    <a href="{{ url_for('gdisconnect') }}">
                        Sign out
                    </a>
                </p>
            </div>
        {% endif %}

    </div>

</div>