<div class="header">

    <div class="header-title">
        <h1><a href="{{url_for('homePage') }}">Local Field Guide</a></h1>
    </div>

    <div class="login-status">
        {% if 'username' not in login_session %}
            <p>
                <a href="{{ url_for('showLogin') }}">
                    Sign in
                </a>
            </p>
        {% else %}
            <p>
                Signed in as {{ login_session['username'] }} | 
                <a href="{{ url_for('gdisconnect') }}">
                    Sign out
                </a>
            </p>
        {% endif %}

    </div>

</div>