{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% include "flashmessages.html" %}


<div class="categoryList">
    <h2>Field Guides</h2>
    <p><a href="{{url_for('createPlace') }}">Create a Field Guide</a></p>
    <ul>
        {% for place in places %}
        <li>
            <a href="{{ url_for('placeFieldGuide', place_id=place.id) }}">
                {{place.name}}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="categoryList">
    <h2>Latest Species</h2>
    <p><a href="{{url_for('addSpecies') }}">Add Species</a></p>
    <ul>
        {% for s in latestSpecies %}
        <li>
            {{s.common_name}}
        </li>
        {% endfor %}
    </ul>
</div>





{% endblock content %}