<! DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>A Local Field Guide</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', 
        filename='styles.css') }}">
</head>

<body>

    <div class="header">
        <h1>A Local Field Guide</h1>
    </div>

    <div class="mainContent">

        <div class="categoryList">
            <h2>Places</h2>
            <ul>
                {% for place in places %}
                <li>
                    {{place.name}}
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="categoryList">
            <h2>Latest Species</h2>
            <ul>
                {% for s in latestSpecies %}
                <li>
                    {{s.common_name}}
                </li>
                {% endfor %}
            </ul>
        </div>



    </div>

</body>

</html>