{% extends "main.html" %}

{% block head %}
<!-- Mapbox css and javascript-->
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
{% endblock head %}


{% block content %}
{% include "header.html" %}
{% include "flashmessages.html" %}


<div class="categoryList">
    <h2>Field Guides</h2>
    <p><a href="{{url_for('createPlace') }}">Create a Field Guide</a></p>
    <div class="cardDisplay">

        {% for place in places %}
            <div class="field-guide-card">
                <div class="card-header">
                    <p class="fieldguide-name">
                        <a href="{{ url_for('placeFieldGuide', place_id=place.id) }}">
                            {{place.name}}
                        </a>
                    </p>
                    <div class="card-author">
                        <div class="card-author-name">
                            <p>
                                <i>a field guide by</i>
                            </p>
                            <p>
                                {{ place.userprofile.name }}
                            </p>
                        </div>
                        <div>
                            <img class="card-author-picture" src="{{place.userprofile.picture}}">
                        </div>
                    </div>
                </div>
                <div class="field-guide-map"
                    id="map{{loop.index0}}"
                    latitude="{{place.latitude}}"
                    longitude="{{place.longitude}}">
                </div>
                <div class="species-photo-preview">
                    {% for species in speciesAtPlace[place.id] %}
                        <div class="species-thumbnail-preview">
                            <img src="{{species['photo']}}">
                            <p id="thumbnail-caption">{{species['common_name']}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

    </div>
</div>

<div class="categoryList">
    <h2>Add a Species</h2>
    <p><a href="{{url_for('addSpecies') }}">Add Species</a></p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='createMaps.js')}}"></script>
{% endblock content %}