{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


<div class="field-guide-header">
    <div id="field-guide-title">
        <h2 id="placeName">
            {{place.name}}
        </h2>
    </div>
    <div class="author-information">
        <p >
            Field Guide created by {{place.user.name}}
        </p>
    </div>
</div>

{% include "flashmessages.html" %}

{% if login_session['email'] == place.user.email %}
    <p>
        <a href="{{url_for('addSpeciesToPlace', place_id = place.id) }}">
            Add a species found here
        </a>
    </p>
{% endif %}    

<div class="cardDisplay">

    {% for occurrence in occurrences %}

    <div class="speciesCard">

        <figure>
        <img src="{{ occurrence.species.photo }}">
        <figcaption><a href="{{ occurrence.species.photo_page }}" target="_blank">Image from Flickr</a></figcaption>
        </figure>

        <p id="common-name">{{occurrence.species.common_name}}</p>

        <p id="scientific-name">{{occurrence.species.scientific_name}}</p>

        <p>{{occurrence.tip}} <span class="tip-attribution">―{{authorInitials}}</span>
            {% if login_session['email'] == place.user.email %}
                <span class="card-control">
                    [<a href="{{url_for('editSpeciesOccurrence', 
                    place_id=place.id, species_id=occurrence.species.id)}}">Edit</a>]
                </span>
            {% endif %}
        </p>

        <!-- Filled with wikipedia AJAX call-->
        <p id="species-description"></p>

        {% if login_session['email'] == place.user.email %}
            <p id="remove-control">
                <span class="card-control">
                    [<a href="{{url_for('removeOccurrence', place_id=place.id, species_id=occurrence.species.id)}}">Remove</a>]
                </span>
            </p>
        {% endif %}

    </div>

    {% endfor %}

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='fillSpeciesCards.js')}}"></script>

{% endblock content %}