{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="mainContent">

    <h2 id="placeName">{{place.name}}</h2>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li><strong> {{ message }} </strong></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <p>
        <a href="{{url_for('addSpeciesToPlace', place_id = place.id) }}">
            Add a species found here
        </a>
    </p>
    <div class="cardDisplay">

        {% for occurrence in occurrences %}

        <div class="speciesCard">
            <img src="{{occurrence.species.picture_url}}">
            <h3>{{occurrence.species.common_name}}</h3>
            <p>
                <i>{{occurrence.species.scientific_name}}</i>
            </p>
            <h4>Tip</h4>
            <p>
                {{occurrence.tip}}
            </p>
            <p>
                <a href="{{url_for('editSpeciesOccurrence', place_id=place.id, species_id=occurrence.species.id)}}">Edit</a> | 
                <a href="{{url_for('removeOccurrence', place_id=place.id, species_id=occurrence.species.id)}}">Remove</a>
            </p>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock content %}