<! DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>A Local Field Guide</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', 
        filename='styles.css') }}">
</head>

<body>

    <div class="header">
        <h1><a href="/">A Local Field Guide</a></h1>
    </div>

    <div class="mainContent">
        <h1>{{place.name}}</h1>

        <div class="cardDisplay">

            {% for occurrence in occurrences %}

            <div class="speciesCard">
                <img src="{{occurrence.species.picture_url}}">
                <h3>{{occurrence.species.common_name}}</h3>
                <p><i>{{occurrence.species.scientific_name}}</i></p>
                <h4>About</h4>
                <p>
                    {{occurrence.species.description}}
                </p>
                <h4>Where to look</h4>
                <p>
                    {{occurrence.tip}}
                </p>

            </div>

            {% endfor %}

        </div>

    </div>

</body>

</html>